#footer {
    /*start brings the footer at bottom*/
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    /*end brings the footer at bottom*/
    border-top: 1px solid #E7E7E7;
    background-color: #fff
}

#footer p {
    color: #56585f;
    margin: 10px 0 0 0;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 13px;
}

#footer p.pull-left {
    margin: 7px 0 0 0;
}

#footer a {
    color: #56585f;
}

.icon-linkedin-mini {
    background-image:url('../img/linkedin-mini.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.icon-facebook-mini {
    background-image:url('../img/facebook-mini.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 15px 0 0;
}

.icon-twitter-mini {
    background-image:url('../img/twitter-mini.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 15px 0 0;
}