/*debut utile pour bring footer to bottom*/
html,body{
    height: 100%;
    background-color: #f4f4f4;
}

#container{
    min-height: 100%;
    position: relative;
}

#content{
    padding-top: 50px;
    padding-bottom: 38px;
}
/*fin utile pour bring footer to bottom*/

.navbar-default {
    background-color: #fff;
}

@media (min-width: 768px) {
    .nav > li > a {
        margin: 0px;
        padding: 5px 0px 5px 0px;
    }
    
    .menu-item:hover{
        border-bottom: 2px solid black;
    }
    
    .menu-separator{
        width: 30px;
    }
    
    .nav > li > a.btn {
        padding: 5px 10px;
    }
}

#presentation {
    background-attachment: fixed;
    background: #323234 url(../img/background3.jpg) no-repeat;
    background-position: center 50px;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid #C9C9C9;
}

button.btn-blue, input.btn-blue, a.btn-blue {
    color: #fff!important;
    background-color: #3498db;
    border-color: #fff;
}


button.btn-blue:hover, input.btn-blue:hover, a.btn-blue:hover {
    color: #3498db!important;
    background-color: #fff;
    border-color: #3498db;
}

button.btn-orange, input.btn-orange, a.btn-orange {
    color: #fff!important;
    background-color: #e74c3c;
    border-color: #fff;
}

button.btn-orange:hover, input.btn-orange:hover, a.btn-orange:hover {
    color: #e74c3c!important;
    background-color: #fff;
    border-color: #e74c3c;
}

a.btn-test:hover {
    color: #e74c3c!important;
    background-color: #fff;
    border-color: #e74c3c;
}

a.btn-test {
    color: #fff!important;
    background-color: #e74c3c;
    border-color: #fff;
    letter-spacing: 0.09em;
}

.marketing {
    font-family: 'Open Sans', sans-serif
}

.col-md-3 {
    text-align: center;
}
.col-md-3 h2{
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.07em
}
.col-md-3 > p{
    text-align: justify;
    color: #666;
    letter-spacing: 0.02em;
}

h2.mini-marketing {
    font-size: 18px;
    font-variant: small-caps;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.01em;
    color: #666;
}

h2 > span.wut {
    font-size: 13px;
    font-weight: bold;
}

#footer {
    /*start brings the footer at bottom*/
    position: absolute;
    bottom: 0;
    height: 38px;
    width: 100%;
    /*end brings the footer at bottom*/
    background-color: #202328;
}

#footer p {
    color: #56585f;
    margin: 10px 0;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 13px;
}

#footer a {
    color: #56585f;
}

.block-color {
    color: #fff;
    padding: 30px;
}

.block-color h2 {
    color: #56585f;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.08em;
    font-size: 22px;
    line-height: 30px;
    font-style: italic;
}

#list-map {
    position: absolute;
    width: 417px;
    background-color: #fff;
    z-index: 10;
    top: 100px;
    left: 35px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
    max-height: 75%;
    overflow-x: hidden;
}

#list-map a {
    display: block;  
}

#list-map p {
    margin: 0;
}

#list-map li {
    border-bottom: 1px solid #e7e7e7;
}

.list-map-message{
    padding: 5px;
}

#list-map li.last-child {
    border-bottom: none;
}

#loader-map{
    position: absolute;
    z-index: 100;
    display: none;
}

#list-search{
    margin-bottom: 30px;
    min-height: 200px;
}

#list-search > #loader-search{
    width: 100%;
    text-align: center;
}

.access {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.access a{
    font-variant: small-caps;
    font-size: 18px;
    font-weight: 400;
    padding: 3px 20px 5px 20px;
}

.row-marketing{
    padding: 40px 30px;
}
.navbar-brand {
    padding: 12px 10px;
}

#profil {
    margin-top: 50px;
    padding: 20px 0;
}

#block-temps {
    padding-top: 20px;
    color: #888;
    letter-spacing: 0.05em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.jours {
    color: #999999;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    
}

.nombre{
    color: #3498db;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 0.07em;
}

.alert{
    margin-top: 20px;
}

.close.edit-delete{
    font-size: 14px;
    font-weight: normal;
    margin-left: 5px;
}

.edit-delete-label{
    font-family: arial;
}

#search-filters{
    margin-top: 30px;
    margin-bottom: 30px;
}

#filter-search-inputs input{
    color: #e74c3c;
}

.well{
    background-color: white;
}

.profile-info-search > p {
    margin: 0 0 5px;
    text-align: right;
}

#profile_info{
    margin-top: 30px;
}

#avatar_profile, #avatar_search{
    border-radius: 100%;
    padding: 1px;
}