/*debut utile pour bring footer to bottom*/
html,body{
    height: 100%;
    background-color: #f4f4f4;
}

.well{
    font-weight: 300;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

#container{
    min-height: 100%;
    position: relative;
}

#content{
    padding-top: 50px;
    padding-bottom: 40px;
}
/*fin utile pour bring footer to bottom*/

.navbar-default {
    background-color: #fff;
}

@media (min-width: 768px) {
    .nav > li > a {
        margin: 0px;
        padding: 5px 0px 5px 0px;
    }
    
    .menu-item:hover{
        border-bottom: 2px solid black;
    }
    
    .menu-separator{
        width: 30px;
    }
    
    .nav > li > a.btn {
        padding: 5px 10px;
        margin-left: 5px;
    }
}

@media (min-width: 768px) {
    .col-sm-2.profile-info-search {
        width: 19.666666666666664%;
    }
    .col-sm-10.experience-info {
        width: 80.33333333333334%;
    }
}

#presentation {
    background-attachment: fixed;
    background: #323234 url(../img/background3.jpg) no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid #C9C9C9;
}

.linkedin-name{
    font-variant: normal;
    font-weight: 500;
    padding: 7px;
    background-color: #007bb6;
    color: white;
    border-radius: 5px;
    line-height: 3;
}

#polytech_description{
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 2;
    text-align: center;
    margin-bottom: 50px;
    color: #666;
}

button.btn-blue, input.btn-blue, a.btn-blue {
    color: #fff!important;
    background-color: #3498db;
    border-color: #fff;
}


button.btn-blue:hover, input.btn-blue:hover, a.btn-blue:hover {
    color: #3498db!important;
    background-color: #fff;
    border-color: #3498db;
}

button.btn-orange, input.btn-orange, a.btn-orange {
    color: #fff!important;
    background-color: #e74c3c;
    border-color: #fff;
}

button.btn-orange:hover, input.btn-orange:hover, a.btn-orange:hover {
    color: #e74c3c!important;
    background-color: #fff;
    border-color: #e74c3c;
}

a.btn-test:hover {
    color: #e74c3c!important;
    background-color: #fff;
    border-color: #e74c3c;
}

a.btn-test {
    color: #fff!important;
    background-color: #e74c3c;
    border-color: #fff;
    letter-spacing: 0.09em;
}

.marketing {
    font-family: 'Open Sans', sans-serif
}

.col-md-3 {
    text-align: center;
}
.col-md-3 h2{
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.07em
}
.col-md-3 > p{
    text-align: justify;
    color: #666;
    letter-spacing: 0.02em;
}

h2.mini-marketing {
    font-size: 18px;
    font-variant: small-caps;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.01em;
    color: #666;
}

h2 > span.wut {
    font-size: 13px;
    font-weight: bold;
}

#footer {
    /*start brings the footer at bottom*/
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    /*end brings the footer at bottom*/
    border-top: 1px solid #C9C9C9;
    background-color: #fff
}

#footer p {
    color: #56585f;
    margin: 10px 0 0 0;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 13px;
}

#footer p.pull-left {
    margin: 7px 0 0 0;
}

#footer a {
    color: #56585f;
}

.block-color {
    color: #fff;
    padding: 30px;
}

.block-color h2 {
    color: #56585f;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.08em;
    font-size: 22px;
    line-height: 30px;
    font-style: italic;
}

#list-map {
    position: absolute;
    width: 417px;
    background-color: #fff;
    z-index: 10;
    top: 100px;
    left: 35px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
    max-height: 75%;
    overflow-x: hidden;
}

#list-map p, #list-map-modal p {
    margin: 0;
}

#list-map li, #list-map-modal li {
    border-bottom: 1px solid #e7e7e7;
}

#list-map div, #list-map-modal div{
    color: black;
}

.list-map-message{
    padding: 5px;
}

#list-map li.last-child {
    border-bottom: none;
}

#list-map .row-experience:hover, #list-search .row-experience:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

.filter-button{
    width: 100%;
    text-align: right;
    color: #A09A9A;
}

.filter-button:hover, .filter-button:focus, .filter-button:active, .filter-button.active, .open .dropdown-toggle.filter-button {
    color: #A09A9A;
    background-color: white;
}

#list-search, #recommendation-list{
    margin-bottom: 30px;
    min-height: 200px;
}

.well-experience-search:hover{
    cursor: pointer;
    border-color: #ABABAB;
}

.experience-list a:hover{
    text-decoration: none;
}

.access {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.access a{
    font-variant: small-caps;
    font-size: 18px;
    font-weight: 400;
    padding: 3px 20px 5px 20px;
}

#linkedin-reco{
    color: #666;
    font-weight: 500;
}

.row-marketing{
    padding: 40px 30px 0px 30px;
}
.navbar-brand {
    padding: 12px 10px;
}

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
#brand_logo.fly {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
    -moz-animation-direction: normal;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;    
}

#profil {
    margin-top: 50px;
    padding: 20px 0;
}

#edit_profile_button{
    margin-top: 30px;
}

.contact-logo{
    height: 20px;
}

.contact-logo.disabled{
    opacity: 0.5;
}

.department_logo_profile{
    height: 25px;
}

.department_logo_search{
    height: 20px;
}

#block-temps {
    padding-top: 20px;
    color: #888;
    letter-spacing: 0.05em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.jours {
    color: #999999;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    
}

.nombre{
    color: #3498db;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 0.07em;
}

.alert{
    margin-top: 20px;
}

.close.edit-delete{
    font-size: 14px;
    font-weight: normal;
    margin-left: 5px;
}

.edit-delete-label{
    font-family: arial;
}

#search-filters{
    margin-top: 30px;
    margin-bottom: 30px;
}

#filter-search-inputs > div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.well{
    background-color: white;
}

.profile-info-search > div{
    margin: 0 0 5px;
    color: black;
}

.profile-info-search {
    margin: 0 0 5px;
    text-align: right;
}

.experience-info > div{
    margin: 0 0 10px;
    color: black;
}

#profile_info{
    margin-top: 30px;
}

#wells-experience-profile{
    margin-bottom: 50px;
}

#avatar_profile, #avatar_search{
    border-radius: 100%;
    padding: 1px;
}

#Recommendationtypes{
    text-align: center;
}

#Recommendationtypes .recommendationtype-icon{
    margin-left: 20px;
}

.recommendationtype-icon{
    border-radius: 100%;
    width: 30px!important;
    height: 30px;
    text-align: center;
    line-height: 2;
    border: 1px solid #cccccc;
    cursor: pointer;
    background-color: white;
    -webkit-transition: border-color ease 0.3s;
    -moz-transition: border-color ease 0.3s;
    -o-transition: border-color ease 0.3s;
    transition: border-color ease 0.3s;
}

.recommendationtype-icon.selected{
    border-color: #e74c3c;
}

.recommendationtype-icon:hover{
    border-color: #e74c3c;
}

.panel-recommendations{
    border: none;
}

.panel-title-recommendations{
    font-size: 14px;
    color: #e74c3c;
}

.panel-heading-recommendations{
    background-color: transparent!important;
}

#legal,#about{
    margin-top: 30px;
}

.addRecommendationForm{
    display: none;
}

#UserEditForm .checkbox{
    margin-top: -15px;
}

/* Social Footer */

.icon-linkedin-mini {
    background-image:url('../img/linkedin-mini.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.icon-facebook-mini {
    background-image:url('../img/facebook-mini.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 15px 0 0;
}

.icon-twitter-mini {
    background-image:url('../img/twitter-mini.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 15px 0 0;
}