@import url('filter-demo.css');
@import url('filter-common.css');
@import url('filter-icons.css');

.cd-dropdown ul {
    position: absolute;
    top: 0px;
    width: 100%;
}

.cd-dropdown ul li {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
}

.cd-dropdown ul li {
    position: absolute;
    width: 100%;
    pointer-events: none;	
}

.cd-active.cd-dropdown > span {
    color: #e74c3c;
}

.cd-active.cd-dropdown ul li {
    pointer-events: auto;
}

.cd-active.cd-dropdown ul li.selected span, .cd-active.cd-dropdown ul li span:hover {
    background: #e74c3c;
    color: #fff;
}

.filter-selected.cd-dropdown  > span{
    color: #e74c3c;
}

.control-map {
    z-index: 10;
    top: 70px;
    left: 30px;
}

#filter-map.control-map {
    height: 30px;
    position: absolute;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    background-color: #fff;
}

#filter-search.control-map {
    margin-bottom: 10px;
}

#filter-search-inputs input{
    margin-bottom: 5px;
}

#filter-search .cd-dropdown > span {
    height: 32px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#filter-search .cd-dropdown.col-sm-3{
    margin-top: 5px;
}

#filter-map .cd-dropdown.col-sm-3{
    padding: 0px;
}