/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mai 2014, 00:54:58
    Author     : fabienrichard
*/

.website.selected{
    font-weight: bold;
}

#chart, #websiteList{
    display: inline-block;
}

ul, li, rect {
    list-style-type: none;
    cursor: pointer;
}

.modal-body form{
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#links{
    overflow: hidden;
    max-height: 75px;
}

#gallery{
    margin-top: 30px;
    margin-bottom: 30px;
}