/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mai 2014, 00:54:58
    Author     : fabienrichard
*/

.website.selected{
    font-weight: bold;
}

#chart, #websiteList{
    display: inline-block;
}

ul, li, rect {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 7px;
}

.modal-body form{
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.modal-instructions{
    margin-bottom: 15px;
}

#how_to_participate{
    text-align: center;
    font-size: 29px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#plane-contest {
    background: url('../img/background-paperplane-fab.png') no-repeat scroll center center;
    height: 144px;
    width: 100%;
}

#links a img {
    margin: 5.5px;
    padding: 2px;
    background-color: white;
    border: 1px solid #C9C9C9;
}